@import url("partials/buttons.css");
@import url("partials/modals.css");
@import url("partials/slider.css");
@import url("partials/footer.css");
@import url("partials/header.css");
@import url("partials/logo.css");
@import url("partials/skew.css");
@import url("pages/landing.css");
@import url("pages/about.css");
@import url("pages/education.css");
@import url("pages/corevalue.css");
@import url("pages/skills.css");
@import url("pages/work.css");
@import url("pages/contact.css");

:root {
    --lapiz: #247BA0;
    --green-sheen: #70C1B3;
    --green-foam: #B2DBBF;
    --yellow-pale: #F3FFBD;
    --pink-awesome: #FF1654;
}

body {
    font-family: 'Open Sans';
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-title {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
}