a.ghost-button, button.ghost-button {
    display: block;
    width: 210px;
    padding: 10px;
    color: var(--green-foam);
    border: 2px solid var(--green-foam);
    outline: none;
    text-decoration: none;
    font-size: 26px;
    border-radius: 30px;
    text-align: center;
}

button.ghost-button.green, a.ghost-button.green {
    color: white;
    border: solid 2px var(--green-sheen);
}

a.ghost-button:hover, a.ghost-button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--green-foam);
    text-decoration: none;
}

button.ghost-button.green:hover, a.ghost-button.green:hover {
    background-color: var(--green-sheen);
}

button.button, a.button {
    display: block;
    width: 120px;
    padding: 10px;
    color: white;
    background-color: var(--lapiz);
    outline: none;
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
}

button.button {
    border: none;
}

button.button.submit {
    font-size: 18px;
}

button.button.green-foam {
    background-color: var(--green-foam);
}

button.button.green-sheen {
    background-color: var(--green-sheen);
}

button.button.yellow-pale {
    background-color: var(--yellow-pale);
    color: black;
}

button.button.yellow-pale:hover {
    background-color: var(--green-sheen);
    color: white;
}

button.button.green-sheen:hover {
    background-color: var(--yellow-pale);
    color: black;
}

button.close-button, a.close-button {
    display: block;
    width: 90px;
    padding: 10px;
    color: white;
    background-color: #dcdcdc;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
}

button.close-button:hover, a.close-button:hover {
    background-color: #999;
    cursor: pointer;
}

button.button:hover, a.button:hover {
    cursor: pointer;
}

button.button, a.button {
    display: block;
    font-family: 'Oswald';
    width: 160px;
    font-size: 20px;
    padding: 0.7em 0em;
    text-decoration: none;
    border-radius: 0px;
    text-transform: uppercase;
    color: #FFF;
    background-color: black;
    transition: 0.2s;
}

button.button:hover, a.button:hover {
    color: white;
    background-color: #252525;
    text-decoration: none;
    width: 185px;
}

