button.button:hover, a.button:hover {
    cursor: pointer;
}

button.button, a.button {
    display: block;
    font-family: 'Oswald';
    width: 160px;
    font-size: 20px;
    padding: 0.7em 0em;
    text-decoration: none;
    border-radius: 0px;
    text-transform: uppercase;
    color: #FFF;
    background-color: black;
    transition: 0.2s;
    text-align: center;
}

button.button:hover, a.button:hover {
    color: white;
    background-color: #1f1e1e;
    text-decoration: none;
    width: 185px;
}