footer {
    position: relative;
    z-index: 5;
    background-color: #f0f0f0;
    padding-top: 100px;
}

footer .icon-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

footer .icon-holder:hover {
    background-color: black;
    cursor: pointer;
}

footer i {
    font-size: 34px;
    color: white;
}

footer a:hover {
    text-decoration: none; 
}

footer p {
    font-size: 14px;
    margin: 0; 
    color: black;
    text-align: center;
    padding: 35px 0 5px 0;
}