.modal-content {
    border-radius: 0;
}

.modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-body .lead {
    font-weight: 500;
    font-family: 'Oswald';
    text-transform: uppercase;
    margin: 0;
    font-size: 26px;
}

.modal-body .technology {
    font-size: 14px;
}

.modal-footer a.button {
    width: 120px;
    font-size: 14px;
    padding: 0.8em 0em;
    color: white;
}

.modal-footer a.button.clsx {
    background-color: #c9c8c8;
}

.modal-footer a.button:hover {
    width: 135px;
}