.about {
    background-color: var(--lapiz);
}

.about-title {
    margin-top: 80px;
}

.about .lead {
    font-size: 24px;
    color: #444;
}

.about-photo {
    background-image: url("../../img/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-story  {
    padding: 10px 15px 120px 0px;
}

.about .container-wrapper {
    background-color: #f3f3f3;
    clip-path: polygon(0 0,100% 0,100% 100%, 0 calc(100% - 6vw));
}