.about {
    width: 100%;
    background-color: #fcfcfc;
}

.about-title {
    padding-top: 190px;
    padding-bottom: 15px;
}

.about-info {
    width: 60%;
}

.about .lead {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.about-photo {
    background-image: url("../../img/about.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
}

p.about-story  {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-top: 22px;
    font-size: 20px;
}

p.about-story:last-of-type {
    padding-bottom: 150px;
}