.contact {
    position: relative;
    z-index: 6;
    color: black;
    background-color:white;
}

.contact-title {
    padding-top: 180px;
    padding-bottom: 30px;
}

.contact  .touch {
    font-size: 42px;
    padding-bottom: 20px;
}

.contact .row .col-6:first-child {
    border-right: 2px solid white;
}

.contact p {
    margin: 0;
}

.contact p:nth-child(even) {
    padding-top: 5px;
    padding-bottom: 50px;
    font-size: 26px;
}

.contact p:nth-child(even) a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.contact p:nth-child(odd) {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
}

.contact p i {
    font-size: 30px; 
    vertical-align: middle;
    padding-right: 10px;
}

.contact form .form-row input{
    margin-bottom: 20px;
}

.contact form .button {
    margin-top: 25px;   
}

.contact .container-wrapper {
    padding-bottom: 95px;
}
