.corevalue-title {
    padding-top: 160px;
    color: black;
}

.corevalue .card-deck {
    padding-top: 50px;
    padding-bottom: 170px;
}

.corevalue .card-deck .card {
    border-radius: 0px;
    border: none;
}

.corevalue .card-header {
    padding: 0;
    width: 55%;
    border-radius: 50%;
    margin: 50px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corevalue .card-deck figure img {
    width: 50%;
    height: auto;
}

.corevalue .card-deck .problem-solving {
    background-color: #8B6356;
}

.corevalue .card-deck .eager-to-learn {
    background-color: #9EACCC;
}

.corevalue .card-deck .dedicated {
    background-color: #FE7A63;
}

.corevalue .card-title {
    font-family: 'Oswald';
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.corevalue .card-text {
    font-size: 18px;
    text-align: center;
    padding: 15px 17px 35px;
}

.corevalue .container-wrapper {
    background-color: #f8f8f8;
}