.corevalue {
   background-color: white;
}

.corevalue .card-deck {
    padding-top: 30px;
    padding-bottom: 140px;
}

.corevalue .card-deck .card {
    border-radius: 10px;
}

.corevalue .card-header {
    padding: 0;
    width: 70%;
    border-radius: 50%;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corevalue .card-deck figure img {
    width: 50%;
    height: auto;
}

.corevalue .card-deck .problem-solving {
    background-color: #8B6356;
}

.corevalue .card-deck .eager-to-learn {
    background-color: #9EACCC;
}

.corevalue .card-deck .dedicated {
    background-color: #FE7A63;
}

.corevalue .card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.corevalue .card-text {
    text-align: center;
    padding: 10px 20px;
}

.corevalue .container-wrapper {
    background-color: var(--green-foam);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
}
