.education {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
}

.education .row:last-of-type .col-12:last-of-type {
    margin-bottom: 110px;
}

.education-title  {
    padding-top: 125px;
    padding-bottom: 40px;
}

.internship-title {
    padding-top: 20px;
}

.school {
    font-family: 'Open Sans';
    color: white;
    padding-top: 20px;
}

.school-date {
    font-family: 'Oswald';
    font-weight: 200;
    margin: 0;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.school-name {
    font-size: 22px;
    padding-bottom: 1em;
}

.school-name > i {
    padding-right: 8px;
}

.school-object {
    padding-top: 16px;
    font-size: 28px;
    margin-bottom: 0;
}