.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo {
    margin: 88px;
}

.intro {
    margin-left: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro .button {
    margin-top: 25px;
}

.intro-heading {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
}

p.intro-sub {
    color: #232323;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 30px;
}

.landing-info, .landing-video {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.landing-info {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    clip-path: polygon(0 0, 55% 0, 50% 100%, 0 100%);
}