.skills {
    position: relative;
    z-index: 8;
    background-color: white;
}

.pro-skills {
    margin-top: 40px;
    padding-bottom: 170px;
}

.skills-title {
    padding-top: 190px;
    padding-bottom: 10px;
    color: black;
}

.skill-holder {
    width: 100%;
    height: 200px;
    background-color: #f8f8f8;
    position: relative;
    margin-bottom: 31px;
    border-radius: 8px;
    overflow: hidden;
}

.skill-holder img {
    position: absolute;
    width: 55%;
    height: auto;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-holder figcaption {
    color: white;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 1)
}

.skill-holder:hover figcaption {
    opacity: 1;
}

.skill-holder figcaption .lead {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 500;
    padding: 50px 0 20px;
    padding-left: 30px;
    font-size: 24px;
}

.skill-holder figcaption p {
    margin: 0;
    padding-left: 30px;
}

.skill-holder figcaption .property {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
}

.skill-holder figcaption .value {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px; 
}